
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^amputeerehabsummit\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.amputeerehabsummit\.org$
RewriteRule ^/?$ "https\:\/\/amputeerehabsummit\.org\/" [R=301,L]
